
{% block navbar %}
    <div>
        <ul>
            <li><a href="/"><div class="div-navbar">Kursy</div><div>Zapisz się</div></a></li>
            <li><a href="/o_mnie"><div class="div-navbar">Kim jestem?</div><div>Kilka słów o mnie</div></a></li>
            <li><a href="/koszyk"><div class="div-navbar">Koszyk</div><div>Twoje zamówienia</div></a></li>
            <li><a href="/moje_kursy"><div class="div-navbar">Moje krusy</div><div>Wszystkie kupione kursy</div></a></li>
        </ul>
    </div>
{% endblock navbar %}