{% block navbar %}
    <div class="navbar">
        <ul>
            <li><a href="/">Kursy</a></li>
            <li><a href="/o_mnie">Kim jestem?</a></li>
            <li><a href="/koszyk">Koszyk</a></li>
            <li><a href="/moje_kursy">Moje kursy</a></li>
        </ul>
    </div>
{% endblock navbar %}