{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        {% if info is defined %}
            {{ info }}
        {% endif %}
        {% if not tutorials %}
           <p class="alert">Twój koszyk jest pusty</p>
        {% else %}
            {% for tutorial in tutorials %}
               <div class="basket">
                   <a class="basket-button pull-left" href="{{ path('delete_from_busket', {'id': tutorial[0].id}) }}">
                       <button class="button usun" style="vertical-align:middle">Usuń</button>
                   </a>
                   <div class="basket-title">
                       {{ tutorial[0].title }}
                   </div>

               </div>
                <br/>
            {% endfor %}
            <a class="basket-button pull-right" href="/realizacja"><button class="button realizuj" style="vertical-align:middle">Realizuj zamówienie</button></a>

        {% endif %}

    </div>
{% endblock body %}
