{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        {% if not tutorials %}
            <div><p>Twój koszyk jest pusty</p></div>
        {% else %}
            {% for tutorial in tutorials %}
                {{ tutorial[0].title }} <a href="{{ path('delete_from_busket', {'id': tutorial[0].id}) }}">Usuń z koszyka</a><br/>
            {% endfor %}
        {% endif %}
        Koszyk
        <a href="/realizacja"><button>Realizuj amówienie</button></a>
    </div>
{% endblock body %}
{#{{ path('delete_from_busket', {'id': tutorial[0].id}) }}#}