{% extends "base.html.twig" %}



{% block body %}
 <div class="container">
    {% for value in arr %}
    <div class="single">
        <h1>{{ value.title }}</h1>
        <img src="{{ asset("img/300X150.png") }}" alt="tutorial img" class="pull-left margin10">
        <article>
            <p>{{ value.description }} </p>
            <a class="pull-right " href="/{{value.id }}/tutorial/0"><button>Czytaj więcej</button></a>
        </article>

    </div>

        <br>
        <hr>
    {% endfor %}
</div>
{% endblock body %}