{% extends "base.html.twig" %}

{% block body %}
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mi tortor, interdum quis pharetra ac, suscipit vel nunc. Etiam faucibus ex vehicula finibus gravida. Nunc justo lacus, tincidunt luctus vestibulum maximus, tristique eu nunc. Aliquam consequat consectetur placerat. Cras porta enim vel nunc rhoncus, ac ultrices nisi efficitur. Pellentesque lobortis tellus ut purus maximus dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat ipsum non nisl suscipit, eget porttitor neque ornare. Quisque eget libero sed felis malesuada tincidunt sed at orci. Mauris eget maximus magna.
    </div>
{% endblock body %}