{% extends "base.html.twig" %}

{% block slidebar %}
    <div class="w3-display-container slider" >
        <img class="mySlides" src="/img/slider.jpg" style="width:100%">
        <img class="mySlides" src="/img/slider2.gif" style="width:100%">
        <img class="mySlides" src="/img/slider.jpg" style="width:100%">
        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
            <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
            <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        </div>
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " w3-white";
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container bottom-border">
        <div class="div-margin10">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mi tortor, interdum quis pharetra ac, suscipit vel nunc. Etiam faucibus ex vehicula finibus gravida. Nunc justo lacus, tincidunt luctus vestibulum maximus, tristique eu nunc. Aliquam consequat consectetur placerat. Cras porta enim vel nunc rhoncus, ac ultrices nisi efficitur. Pellentesque lobortis tellus ut purus maximus dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat ipsum non nisl suscipit, eget porttitor neque ornare. Quisque eget libero sed felis malesuada tincidunt sed at orci. Mauris eget maximus magna.
        </div>
    </div>
{% endblock body %}