body{
    background-color: #f2f2f2;

}
.container{
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ffffff;
}

.slider{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
}

.single{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom:2%;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}

.margin10{margin-bottom:10px; margin-right:10px;}

.loginbar{
    background-color: #333333;
    color: white;
    display: block;
    text-align: right;
    padding: 5px;
    height: 40px;
}
.tlo{
    margin-bottom: 10px;
    background-color: #3399ff;
    height: 45px;
}

.dashed-border{
    border-bottom: dashed;
    border-bottom-width: 2px;
    border-color: #3399ff;
}

.bottom-border{
    border-bottom: solid;
    border-bottom-width: 5px;
    border-color: #3399ff;
}



/*navbar*/

ul {
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    list-style-type: none;
    overflow: hidden;
    color:#000000;
    background-color: #ffffff;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding:40px 50px;
    text-decoration: none;
}

li a:hover {
    color:white;
    background-color: #3399ff;
}


.list_videos{
    float:right;
    width:47%;
    margin-right: 10px;
}

#single_video{
    color: white;
    padding: 2px;
    background-color: #6c6159;
}
.player{
    float:left;
    margin-left: 10px;

    position:relative;height:0;padding-bottom:55.56%;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.div-margin10{
    margin: 10px;
}


/* main page - list available courses*/
.tutorial{
    margin:20px;

}
.tutorial-title{
    width:100%;
}
.tutorial-content{
    clear:both;
    width:100%;
}
.tutorial-img{
    float:left;
    margin-right: 10px;
    margin-bottom: 5px;
}
.tutorial-desciption{
    margin-bottom: 30px;
}



/*buttons configuration*/
.buy{
    background-color:#008000;
    width:100px;
    margin-left: 5px;
}
.read{
    background-color: #66a3ff;
}

.realizuj{
    background-color:#5cb85c;
    width:200px;
}

.usun{
    background-color: #d9534f;
    width:100px;
    height:30px;
}

.button {
    display: inline-block;
    border-radius: 4px;

    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*alert*/

.alert{
    text-align: center;
}
.margin30{
    margin-bottom:30px;
}

.basket{
    display: block;
    margin:10px;
    margin-bottom:30px;
}
.basket-title{
    font-size: 20px;
    width:80%;
    float:left;
    margin-left: 5px;
    margin-bottom:30px;
}