
.container{
    margin-left: 15%;
    margin-right: 15%;
    border: solid;
    background-color: #ffffff;
}
.single{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom:2%;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}

.margin10{margin-bottom:10px; margin-right:10px;}

body{
    background-color: #f2f2f2;
}