{% block loginbar %}
    {% if not app.user %}
        <a href="/login">Zaloguj</a>
    {% else %}
        <a href="/profile">{{ app.user.name }}</a>
        <a href="/logout">Wyloguj</a>
    {% endif %}
{% endblock %}